<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <!--Css-->
        <link rel="stylesheet" href="../static/FindPassword/FindPassword.css">
        <!--jquery库-->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
        <!--防止初始加载外部css样式时transform生效的脚本 需要配合class no_transition(自定义) 使用-->
        <script src="../static/Common/initTransformPrevention.js"></script>
        <!--js脚本-->
        <script src="../static/FindPassword/FindPassword.js" defer></script>
        <title>找回密码</title>
    </head>
    <body class="no_transition">
        <!--绝对定位元素-->
        <img id="bgImg" src="../static/FindPassword/bg.jpg"/>
        <p id="yearLicense">
            <a href="/help" target="_blank">帮助中心</a>
            <span> | </span>
            <a href="/aboutUs" target="_blank">关于我们</a>
            <span> | 2020@guapi</span>
        </p>
        <p id="back"><a href="/navigation">返回导航页</a></p>
        <div id="container">
            <h2>找回密码</h2>
            <form th:object="${info}" method="post" action="/checkFindPassword" id="form1">
                <div id="d1">用户名
                    <input type="text" th:field="*{userName}" id="userName" autocomplete="off"
                           pattern="[0-9_a-zA-Z\u4e00-\u9fa5]{6,14}" placeholder="6-14位下划线英文中文数字" required/>
                </div>
                <p id="r1">提示信息1</p>
                <div id="d2">注册邮箱
                    <input type="text" th:field="*{email}" id="email" autocomplete="off" placeholder="注册时填写的邮箱"
                           pattern=".+@.+" required/>
                </div>
                <p id="r2">提示信息2</p>
            </form>
            <button id="submit" disabled>提交</button>
        </div>
    </body>
</html>