<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>修改密码</title>
        <!--css-->
        <link rel="stylesheet" href="../static/ReSetPassword/ReSetPassword.css"/>
        <!--jquery库-->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
        <!--防止初始加载外部css样式时transform生效的脚本-->
        <script src="../static/Common/initTransformPrevention.js"></script>
        <!--js-->
        <script src="../static/ReSetPassword/ReSetPassword.js" defer></script>
    </head>
    <body class="no_transition">
        <!--绝对定位元素-->
        <img id="bgImg" src="../static/ReSetPassword/bg.jpg"/>
        <p id="yearLicense">
            <a href="/help" target="_blank">帮助中心</a>
            <span> | </span>
            <a href="/aboutUs" target="_blank">关于我们</a>
            <span> | 2020@guapi</span>
        </p>
        <p id="back"><a href="/navigation">返回导航页</a></p>
        <div id="container">
            <h2>重置密码的用户: <span id="userName" th:text="${user}">默认信息</span></h2>
            <div id="d1">新密码<input id="password" type="password" pattern=".{6,14}" required/></div>
            <p id="r1">提示信息1</p>
            <div id="d2">密码确认<input id="confirmPassword" type="password" pattern=".{6,14}" required/></div>
            <p id="r2">提示信息2</p>
            <button id="submit" disabled>确定提交</button>
        </div>
    </body>
</html>