body
{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#d1, div#d2
{
    text-align: center;
    transition: 0.8s;
    padding: 3px;
    font-size: 28px;
    font-weight: 500;
    border-radius: 6px;
    background-color: rgb(101, 123, 255);
    box-shadow: 0 0 6px 4px rgb(46, 46, 221) inset;
    color: rgb(255, 255, 255);
    width: 410px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.hasFocus
{
    transition: 0.8s !important;
    background-color: rgb(220, 240, 250) !important;
    box-shadow: 0px 0px 6px 4px rgb(130, 145, 222) inset !important;
    color: rgb(0, 0, 0) !important;
}

div > input
{
    transition: 0.8s;
    outline: none;
    width: 260px;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    float: right;
    background-color: rgb(222, 200, 222);
}

div > input:focus
{
    background-color: rgb(255, 250, 255) !important;
}

div > input:focus:invalid
{
    transition: 0.8s;
    box-shadow: 0px 0px 3px 3px rgb(240, 100, 100) inset;
    color: rgb(240, 100, 100);
}

div > input:focus:valid
{
    transition: 0.8s;
    box-shadow: 0px 0px 3px 3px rgb(40, 100, 240) inset;
    color: rgb(40, 100, 240);
}

div#container
{
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 216, 241, 0.3);
    box-shadow: 0 0 40px 40px rgba(200, 170, 200, 0.3) inset,
                0 0 20px 20px rgba(245, 220, 246, 0.3);
    border-radius: 20px;
    padding: 70px;
    -webkit-animation: 4s containerP1 linear infinite;
}

div#container:hover
{
    background-color: rgba(240, 216, 241, 0.8);
    box-shadow: 0 0 40px 40px rgba(200, 170, 200, 0.8) inset,
                0 0 20px 20px rgba(245, 220, 246, 0.8);
}

#submit:enabled
{
    transition: 0.8s;
    outline: none;
    background-color: rgb(60, 60, 255);
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 6px 200px 6px 200px;
    border-radius: 10px;
    margin-top: 20px;
}

#submit:disabled
{
    transition: 0.8s;
    outline: none;
    background-color: rgba(240, 220, 240, 0.4);
    color: rgba(255, 255, 255, 0.4);
    font-size: 22px;
    padding: 6px 100px 6px 100px;
    border-radius: 10px;
    margin-top: 20px;
}

#submit:enabled:hover
{
    transition: 0.4s;
    background-color: rgb(120, 120, 255);
}

#submit:enabled:active
{
    transition: 0.4s;
    background-color: rgb(30, 30, 220) !important;
}

img#bgImg
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    -webkit-animation: 4s bgp1 linear infinite;
}

h2
{
    font-size: 40px;
}

form#form1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#r1, #r2
{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

p#yearLicense
{
    font-size: 18px;
    position: absolute;
    left: 85px;
    bottom: 85px;
    color: white;
    background-color: rgba(20, 5, 20, 0.8);
    box-shadow: 0 0 4px 4px rgba(15, 3, 15, 0.8) inset,
                0 0 8px 8px rgba(30, 8, 30, 0.8);
    padding: 15px;
    border-radius: 20px;
    -webkit-animation: 4s licenseP1 linear infinite;
}

p#yearLicense > a
{
    color: rgb(250, 240, 250);
    text-decoration: none;
}

p#yearLicense > a:hover
{
    text-decoration: underline;
}

/*错误信息文本*/
p.error
{
    transition: 0.8s;          /*设置样式渐变，需要0.8秒完成变化*/
    color: rgb(240, 100, 100)  /*设置内容颜色，对于p来说 内容就是文本*/
}

/*警告信息文本*/
p.warning
{
    transition: 0.8s;
    color: rgb(120, 80, 50)
}

/*正确信息文本*/
p.correct
{
    transition: 0.8s;
    color: rgb(40, 100, 240);
}

p#back
{
    position: absolute;
    left: 50px;
    top: 50px;
    color: white;
    padding: 8px 20px 8px 20px;
    background-color: rgb(120, 60, 245);
    box-shadow: 0 0 4px 4px rgb(105, 51, 220) inset,
                0 0 8px 8px rgb(150, 80, 255);
    border-radius: 14px;
    font-size: 20px;
    -webkit-animation: 4s licenseP1 linear infinite;
}

p#back > a
{
    color: white;
    text-decoration: none;
}

p#back > a:hover
{
    text-decoration: underline;
}

@keyframes bgp1 {
    0% {
        filter: brightness(80%) contrast(60%);
    }
    50%
    {
        filter: brightness(120%) contrast(100%);
    }
    100% {
        filter: brightness(80%) contrast(60%);
    }
}

@keyframes containerP1 {
    0% {
        opacity: 60%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 60%;
    }
}

@keyframes licenseP1 {
    0% {
        opacity: 60%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 60%;
    }
}

